@import './core/reset.scss';

/*.header {
     display: flex;
     justify-content: center;
     padding-top: 5px;
     padding-bottom: 25px;
     border-bottom: solid 4px #EDB600;
     height: 300px;*
     
     &__crest {
     width: 20%;
     height: 20%;
     margin-top: 10px;
     }
     &__img {
     width: 200px;
     height:100px;
     } 
}*/


@media all and (min-width: 1200px) {
.header {
display: flex;
justify-content: center;
padding-top: 5px;
padding-bottom: 25px;
border-bottom: solid 4px #EDB600;
height: 300px;             
margin-left:0;
   
   &__crest{
    width: 100%;
    height: 100%;
   
    }
   &__img {
        width: 90%;
        height: 290px;
       
   }  
    }
}
