    .eachCharacter{
    &_list {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    margin-left:45px;
    margin-top: 45px;
    
    }
    &__image{
    width: 180px;
    height: 240px;
    }
    &_species{
    }
    &_patronus{
    margin-bottom: 20px;
    }
}
