.link {
    margin: 50px;
    //background-color:#6C8495;
    //border-radius: 5%;
}


.listCard {
    display: grid;
    flex-direction: column;
    justify-content: center;
    background-color: #6C8495;
    border: 2px solid #EDB600;
    border-radius: 10px;
    

&__img {
        width: 20rem;
        height: 25rem;
        padding-top: 20px;
        border-radius: 20px;
        background-color: #6C8495;

        }
  

&__name {
        font-weight: bold;
        text-decoration: none;
        color:whitesmoke;
        font-size: 20px;
        background-color: #6C8495;
        padding-top: 10px;
        //font-family: $fontFamily;
    }

&__species {
        font-weight: bold;
        text-decoration: none;
        color: whitesmoke;
        font-size: 20px;
        background-color: #6C8495;
        padding-bottom: 10px;
        //font-family: $fontFamily;
    }
}