.character {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 70px;
  margin-left: 110px;

  &__sect1 {
    gap: 20px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 90px;
    background-color: #6C8495;
    border-radius: 10%;
    border: solid 10px #EDB600;

    &--img {
      width: 300px;
      height: 400px;
      border-radius: 10px;
    }
  }
}

.title {
  font-size: 25px;
  padding-right: 50px;
  background-color: #6C8495;
  color: white;
}

.text {
  font-size: 25px;
  font-weight: 300;
  padding-bottom: 10px;
  background-color: #6C8495;
  color: white;
}

.character__btn {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-left: -240px;
  margin-top: -1000px;


  &--link {
    text-decoration: none;
    padding: 5px;
    background-color: #6C8495;
    color: whitesmoke;
    border-radius: 10%;
    font-size: 30px;
    border: solid 3px #EDB600;
    width: 150px;

  }
}

@media all and (min-width: 1200px) {
  .character {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__sect1 {
      display: flex;
      flex-direction: row;
      gap: 20px;
      padding: 30px;
      margin-top: 50px;
      margin-bottom: 90px;
      background-color: #6C8495;
      border-radius: 10%;
      border: solid 10px #EDB600;


      &--img {
        width: 300px;
        height: 400px;
        border-radius: 10px;
      }
    }
  }

  .character__btn {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-left: 80px;
    margin-top: -600px;
    transform: translateX(400px);

    &--link {
      text-decoration: none;
      padding: 5px;
      background-color: #6C8495;
      color: whitesmoke;
      border-radius: 10%;
      font-size: 30px;
      border: solid 3px #EDB600;
    }
  }

  .title {
    font-size: 33px;
    padding-right: 50px;
    background-color: #6C8495
  }

  .text {
    font-size: 33px;
    font-weight: 300;
    padding-bottom: 10px;
    background-color: #6C8495
  }

  .text__error {
    margin-top: 44px;
    color: red;
    font-size: 44px;
    display: flex;
    flex-direction: center;
    justify-content: center;
  }

}