
.house {
font-size: 1.2rem;
font-weight: bold;
color: whitesmoke;
padding-left: 40px;
display: flex;
flex-direction: row;
align-items: center;
background-color: #2F4858;

&__text {
        margin-left: 10px;
        height: 30px;
        border-radius: 5%;
        padding-left: 5px;
        font-weight: lighter;
        font-size: 1rem;
     
        
    }
}